.collection__container {
  z-index: 5;
}

.collection__container__title {
  background-image: url('https://cdn.shopify.com/s/files/1/0277/0472/1542/files/bg_page.jpg?v=1589354538');
  margin-top: 100px;
  width: 100%;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.collection__container__product {
  margin: 0 auto;
  padding: 0 7vw;
}

.collection__container .list__product {
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  background-color: #fff;
}
