.listproduct__title__wrapper .listproduct__title__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 10rem;
}

.listproduct__title__wrapper .listproduct__title__container h1 {
  font-weight: 700;
  font-size: 37px;
  letter-spacing: 3px;
}

.listproduct__title__wrapper
  .listproduct__title__container
  .listproduct__title__line {
  height: 2px;
  background-color: #cea384;
  width: 5rem;
}

.listproduct__title__wrapper
  .listproduct__title__container
  .listproduct__title__action {
  margin-top: 1rem;
}

.listproduct__title__wrapper
  .listproduct__title__container
  .listproduct__title__action
  button {
  min-width: 105px;
  padding: '20px 0';
  border: none;
  outline: none;
  color: #cea384;
  border: 1px solid #cea384;
  background-color: white;
  cursor: pointer;
}

.listproduct__title__wrapper
  .listproduct__title__container
  .listproduct__title__action
  button:first-child {
  margin-right: 10px;
  background-color: #cea384;
  color: white;
}

.listproduct__title__wrapper
  .listproduct__title__container
  .listproduct__title__action
  button:last-child:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background-color: var(--primary-color);
  color: white;
}

.listproduct__wrapper {
  overflow: hidden;
  position: relative;
  margin: 0;
  left: 0;
  z-index: 3;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.listproduct__wrapper .listproduct__item {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
