.listproduct__wrapper {
  overflow: hidden;
  //   background-color: yellow;
  position: relative;
  padding: 5rem;
  margin: 0;
  left: 0;
  .listproduct__item {
    overflow: hidden;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
