.product-cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1rem;
  margin: 10px;
  border-bottom: 1px solid var(--primary-color);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.product-cart__image img {
  width: 76px;
}

.product-cart__content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.product-cart__content p {
  margin: 5px;
}
