.product-cart {
  display: flex;
  gap: 1rem;
  margin-top: 10px;
  border-bottom: 1px solid var(--primary-color);
  transition: all 0.3s ease;
  &__image {
    img {
      width: 76px;
    }
  }
  &__content {
    width: 200px;
    p {
      margin: 5px;
    }
  }
}
