.container-lazyLoader {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
  .container-lazyloader {
    overflow: hidden;
    .item-container {
      background: none;
      border: 0;
      box-sizing: border-box;

      // Using inset box-shadow instead of border for sizing simplicity

      font-size: inherit;
      font-weight: 700;

      // Required, since we're setting absolute on pseudo-elements
      position: relative;
      vertical-align: middle;
      .item-container-image {
        transition: all 0.3s ease;
      }
      .item-description {
        position: absolute;
        top: 35%;
        left: 10%;
        z-index: 10;
        display: flex;
        flex-direction: column;
        max-width: 270px;
        h1 {
          // ont-family: SofiaPro;
          font-size: 36px;
          font-weight: 500;
          line-height: 1.2;
          letter-spacing: 1px;
          color: #000;
          text-transform: none;
          border: none;
          border-color: #000;
          padding-bottom: 15px;
          display: inline-block;
        }
      }
      &::before {
        box-sizing: inherit;
        content: "";
        position: absolute;
        width: 90%;
        height: calc(90% - 10px);
        top: 25px;
        left: 40px;
        background: transparent;
        // transform: translate(50%, 50%);
        transform: translateX(1rem);
        z-index: 1;
        transform-origin: center; // Ensure scaling is done from the center (expands outwards)
      }
      &::after {
        box-sizing: inherit;
        content: "";
        position: absolute;
        width: calc(90% - 10px);
        height: 90%;
        top: 20px;
        background: transparent;
        left: 45px;
        // transform: translate(50%, 50%);
        transform-origin: center; // Ensure scaling is done from the center (expands outwards)
      }

      // scale3d(<scale-horizontal>, <scale-vertical>, <scale-depth>);
      &::before {
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transform: scale3d(0, 1, 1); // Shrink only width
      }

      &::after {
        border-left: 2px solid #fff;
        border-right: 2px solid #fff;
        transform: scale3d(1, 0, 1); // Shrink only height
      }

      &:hover::before,
      &:hover::after {
        transform: scale3d(1, 1, 1); // Show full-size
        transition: transform 0.5s;
      }
    }
    .item-container:hover {
      // Set up base styles, we're going to scale instead of animating width/height
      .item-container-image {
        transform: scale(1.1);
      }
    }
  }
}
