.single__product__wrapper {
  overflow: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  .single__product__image {
    overflow: hidden;
    height: 20rem;
    img {
      height: 100%;
    }
  }
}
