.checkout__container {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
}

.checkout__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
}

.checkout__aside {
  margin-right: 5%;
  -ms-grid-column-align: end;
  justify-self: end;
  padding: 5% 0;
}

.checkout__summary__container {
  padding: 5%;
  width: 100%;
  border-left: 1px solid #ccc;
  background-color: #fafafa;
}

.checkout__summary__wrapper {
  width: 100%;
  max-width: 75%;
}

.checkout__summary__product {
  border-bottom: 1px solid #ccc;
}

.checkout__summary__calculate {
  padding: 5% 0;
  border-bottom: 1px solid #ccc;
}

.checkout__summary__line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 5px;
  color: #535353;
}

.checkout__summary__price {
  font-weight: 500;
}

.checkout__summary__total__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5%;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #535353;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}

.checkout__summary__total__price .final__price {
  color: #323232;
  font-size: 24px;
  line-height: 24px;
}
