.checkout {
  &__container {
    width: 100%;
    height: 100%;
    display: grid;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__aside {
    margin-right: 5%;
    justify-self: end;
    padding: 5% 0;
  }

  &__summary {
    &__container {
      padding: 5%;
      width: 100%;
      border-left: 1px solid #ccc;
      background-color: #fafafa;
    }
    &__wrapper {
      width: 100%;
      max-width: 75%;
    }

    &__product {
      border-bottom: 1px solid #ccc;
    }

    &__calculate {
      padding: 5% 0;
      border-bottom: 1px solid #ccc;
    }

    &__line {
      display: flex;
      justify-content: space-between;
      margin-bottom: 5px;
      color: #535353;
    }

    &__price {
      font-weight: 500;
    }

    &__total__price {
      display: flex;
      padding-top: 5%;
      justify-content: space-between;
      color: #535353;
      font-weight: 500;
      font-size: 18px;
      line-height: 18px;

      .final__price {
        color: #323232;
        font-size: 24px;
        line-height: 24px;
      }
    }
  }
}
