.checkout {
  &__container {
    padding: 0 20%;
    width: 100%;
    margin: 0 auto;
    margin-top: 125px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__list__product {
    border-left: 1px solid #ccc;
    padding-left: 50px;
  }
}
