.checkout {
  &__container {
    width: 100%;
    display: grid;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__aside {
    margin-right: 5%;
    justify-self: end;
    padding: 10% 0;
  }

  &__list {
    &__container {
      padding: 10% 5%;
      width: 100%;
      border-left: 1px solid #ccc;
      background-color: #fafafa;
    }
    &__wrapper {
      width: 100%;
      max-width: 70%;
    }
  }
}
