.navbar__logo {
  //   background-image: url("https://cdn.shopify.com/s/files/1/0277/0472/1542/files/logo.png?v=1589452027");
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
  align-items: center;
  margin: 0 auto;
  max-width: 1670px;
}
.navbar__logo {
  width: 100%;
  background-repeat: none;
}
.navbar__logo {
  width: 150px;
  height: 65px;
}
.navbar__links {
  display: flex;
  list-style-type: none;
  flex: 1;
  justify-content: center;
}
.navbar__link {
  padding: 0 18px;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
  display: table-cell;
  position: relative;
}

.navbar__link a {
  color: black;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.05em;
  font-weight: 600;
  display: inline-block;
  position: relative;
}
.navbar__link a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background-color: #cea384;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navbar__link a:hover:after {
  width: 100%;
  left: 0;
}
.navbar__link a:hover {
  color: #cea384;
}
.navbar__icon {
  display: flex;
  gap: 1rem;
}
.navbar__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  font-weight: 500;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1pxsolidrgba (0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: all 0.3s ease-in;
}
.navbar__link:hover {
  .navbar__dropdown {
    display: block;
    opacity: 1;
  }
}
