.checkout__form__wrapper {
  max-width: 600px;
  width: 100%;
  margin-top: 25px !important;
}

.checkout__form__wrapper h2 {
  font-family: Helvetica Neue, sans-serif;
  font-size: 1.2857142857em;
  line-height: 1.3em;
  color: #333;
  font-weight: 700;
}

.checkout__form__wrapper .input__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.checkout__form__wrapper .radio__button {
  height: 40px;
  width: 100%;
  position: relative;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  color: rgba(0, 0, 0, 0.85);
  padding: 6.5px 11px;
}

.checkout__form__wrapper .radio__logo {
  position: absolute;
  right: 11px;
}
